<!-- <div style="background-color: rgb(70, 68, 68);">
      <app-utente></app-utente>
      <app-negozio></app-negozio>
</div-->

   <mat-toolbar color="primary" class="mat-elevation-z8">
    <a mat-button routerLink="/" class="button">
      <div style="display: flex; align-items: center;">
        <fa-icon [icon]="['fab', 'angular']" size="2xl" ></fa-icon>
        <span style="margin-left: 10px;">Esercizio</span>
      </div>
    </a>
    <a mat-button routerLink="/utente" class="button">
      <mat-icon>person</mat-icon>
      <span >Sezione Utente</span>
    </a>

    <a mat-button routerLink="/negozio" class="button">
      <mat-icon>store</mat-icon>
      <span>Sezione Negozio</span>
    </a>

    <a mat-button routerLink="/spesa" class="button">
      <mat-icon>shopping_cart</mat-icon>
      <span>Sezione Spesa</span>
    </a>

    <a href="https://github.com/dado96/progetto-angular" target="_blank" mat-button class="gitButton" >
      <div style="display: flex; align-items: center;" class="testoGitHub">
        <fa-icon [icon]="['fab', 'github']" size="2xl"></fa-icon>
        <span style="margin-left: 10px;">
          <a>GitHub</a>
        </span>
      </div>
    </a>
  </mat-toolbar>


  
  <router-outlet></router-outlet>
 


  <mat-toolbar color="primary" class="mat-elevation-z4" style="  display: flex; justify-content: center;">
    <span style="font-size: 0.6em;" >template ad opera di David Donato</span>
  </mat-toolbar>

      
   
