

.button
{
    width: 60px;
    height:30px;
    border-radius: 15px 15px 15px 15px;
    background-color: grey;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    margin-top: 2%;
}
.button2
{
    width: 100px;
    height:30px;
    border-radius: 15px 15px 15px 15px;
    background-color: grey;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    margin-top: 2%;
}

.menu-container1 {
   
    display: flex;
    width: 400px;
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    margin: 20px 0;
    background-color: rgba(10, 205, 245, 0.936);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.menu-container2 {
   
    display: flex;
    width: 400px;
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    margin: 20px 0px;
    background-color: rgb(18, 128, 12);
    justify-content: center;
    align-items: center;
    flex-direction: row;

}


@media only screen and (max-width:900px){
    .menu-container {
        width: 250px;
    }
}

.inputContainer
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.testi
{
    width: 25%; 
    /* padding-right: 50px; */
    text-transform: capitalize;
}

.form
{
    width: 80%;
    height: 20px;
}

.ul
{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    list-style: none;
    padding: 0;
}

.slider
{
    display: flex;
    justify-content: end;
    background-color: rgba(206, 0, 192, 0.829);
    margin-right: 3%;
}

.moon
{
    margin-top: 0.3%;
    margin-right: 0.7%;
}

.topping
{
    margin-top: 3%;
    height: 65px;
}
